form {
	text-align: center;
	position: relative;
	padding: 5px;
	margin: 8px -20px;
	border: 1px solid #e1e1e1;
	background: #FCFCFC;
	opacity: 0;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
form:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-width: 0 10px 10px;
	border-style: solid;
	border-color: #e1e1e1 transparent;
	display: block;
	width: 0;
}
form:after {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	border-width: 0 8px 8px;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}



.table {
	overflow: auto;
	overflow-y: hidden;
}
section.table {
	margin-left: -20px;
	margin-right: -20px;
}
fieldset.table {
	position: relative;
	height: 200px;
}
table {
	position: absolute;
	width: 140%;
	margin: 0 1px;

}
td {
	padding: 2px 10px;
}

th {
	padding: 0;
}

.unusedOption {
	color: grey;
	font-style: italic;
}