#content li, #content article {
	background: #fcfcfc;
	margin: 10px -10px;
	padding: 10px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	border-radius: 4px;
}

#content li a, #content article a {
	display: block;
}
#content li a > *, #content article a > * {
	color: #3f3f3f;
}

p {
	font-weight: 400;
}

.typeEvent {
	float: right;
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: #bcbcbc;
	color: #fff;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	white-space: nowrap;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.typeEvent:before {
	content: "";
	float: left;
	position: absolute;
	top: 50%;
	left: -12px;
	width: 0;
	height: 0;
	margin-top: -14px;
	border-color: transparent #bcbcbc transparent transparent;
	border-style: solid;
	border-width: 14px 12px 14px 0;
}
.typeEvent:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #6d8a9d;
	-webkit-box-shadow: -1px -1px 2px #6d8a9d;
	box-shadow: -1px -1px 2px #6d8a9d;
}

.type-1 {
	background: #c0b8d9;
}
.type-1:before {
	border-right-color: #c0b8d9;
}
.type-2 {
	background: #a5b7bc;
}
.type-2:before {
	border-right-color: #a5b7bc;
}