*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;margin:0}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-drcn6k');
	src:url('fonts/icomoon.eot?#iefix-drcn6k') format('embedded-opentype'),
		url('fonts/icomoon.woff?-drcn6k') format('woff'),
		url('fonts/icomoon.ttf?-drcn6k') format('truetype'),
		url('fonts/icomoon.svg?-drcn6k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/chunkfive-webfont.eot');
	src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/chunkfive-webfont.woff2') format('woff2'),
		 url('fonts/chunkfive-webfont.woff') format('woff'),
		 url('fonts/chunkfive-webfont.ttf') format('truetype'),
		 url('fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}
body {
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue", "Helvetica", "Myriad Set Pro", "Lucida Grande", "Lucida Sans Unicode", "Arial", "Verdana", "sans-serif";
	background: #f6f9fc;
	color:#333;
	line-height:1.7857;
	font-weight:200;
	font-style:normal;
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	min-width:474px;
	max-width:1680px;
	margin:0 auto;
}

a, a:active, a:hover, a:visited {
	color: #afbdd4;
}

fieldset {
	border:0;
}

/*header {
	padding: 5px 8%;
	background: rgba(255, 255, 255, 0.93);
	color: #868686;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	line-height: 2em;
	z-index: 10;
	box-shadow: 0 0 4px rgba(217, 217, 217, 0.94);
}

header h1, header nav, header li {
	display: inline-block;
}
header h1, header nav {
	margin-left: 10px;
}*/

header {
	position: fixed;
	width: 14%;
	padding: 2em 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	font-weight: 300;

	box-shadow: inset 0 0 12px #586b92;

	background: url("images/noise.png"), #6d84b4;
}

header h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #a1a1a1, 0px 2px 0px #888, 0px 3px 0px #777;
	font-size: 23px;
	font-family: 'ChunkFiveRegular';
	position: relative;
}

header nav {

}

nav > ul {
	margin-top: 1em;
}

header > ul {
	position: absolute;
	bottom: .5em;
}

nav li {
	margin: .4em 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: relative;
	text-shadow: 0px 1px 1px #656565;
}
nav li:hover {
	background: #5d7ccd;
}
header li.active {
	background: #5069A6;
}

header .active:after, header .active:before {
	top: 50%;
	right: 0;
	border: solid transparent;
	border-width: 12px 12px 12px 0;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin: -12px 0 0;
	display: block;
}

header .active:before {
	content: "";
	border-color: transparent #d9d9d9;
	margin-top: -14px;
	border-width: 14px 14px 14px 0;
}
header .active:after {
	content: "";
	border-color: transparent #f6f9fc;
}


header a, header a:hover, header a:visited, header a:active {
	padding: 0 0 0 15%;
	color: #f3f3f3;
	text-decoration: none;
	display: block;
}
header a:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	position: relative;
	top: 1px;
}
nav a[title="Voir son profil"]:before {
	content: "\e60d";
}
nav a[title="Voir sa promo"]:before {
	content: "\e60e";
}
nav a[title="Faire une recherche..."]:before {
	content: "\e610";
}

header a[href="aide.php"]:before {
	content: "\e607";
}
header a[href="deconnection.php"]:before {
	content: "\e61c";
}

input[type="search"] {
	margin: 0 0 0 8px;
	background: rgba(255, 255, 255, 0.4);
	filter: "alpha(opacity=70)";
	width: 100%;
	border: 0;
}

#wrapper {
	float: right;
	/* margin: 0 auto; */
	width: 86%;
	padding: 2em 2.875em;
	height: auto;
	min-height: 100%;
	text-align: justify;
	line-height: 1.7857;
	max-width: 76em;
	padding-bottom: 3.125em;
	margin-bottom: -3em;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#wrapper > #content {
	/*margin: 3em 0 0;
	padding: 3em 0 3em;*/
	position: relative;
}

label {
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
	color: #626262;
	display: inline-block;
	text-align: left;
	background: #fff;
	border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	top: -2px;
	height: 22px;
	padding: 0 5px 0 10px;
	box-shadow: inset 1px 0 4px rgba(228, 228, 228, 1);
	margin-left: 10px;
}
input, .button, button {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #070707;
	background: #fff;
	border: 0;
	-webkit-top-right-radius: 5px;
	-moz-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-bottom-right-radius: 5px;
	-moz-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 22px;
	margin: 0 10px 0 0;
	padding: 0 10px 0 5px;
	box-shadow: inset -1px 0 4px rgba(228, 228, 228, 1);
}
input[type="submit"], .button, button {
	border-radius: 5px;
	cursor: pointer;
	color: #3b3b3b;
	box-shadow: 0 0 6px rgba(228, 228, 228, 1);
	padding: 0 10px;
}

footer {
	float: right;
	/* margin: 0 auto; */
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	padding: -3em 1.875em 0;

	width: 86%;
	max-width: 76em;
}
footer p {
	border-top: 1px solid #ececec;
	margin: 2em 1.875em 0;
	padding: 1em 0;
	line-height: 2.8em;
	text-align: center;
	color: rgb(182, 182, 182);
}