#content h1 {
	/*font-size: 1.54em;*/
}

figure {
	float: right;
	background: -moz-radial-gradient(center, ellipse cover, rgba(246,249,252,0) 0%, rgba(246,249,252,1) 30%, rgba(246,249,252,1) 70%, rgba(246,249,252,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(246,249,252,0)), color-stop(30%,rgba(246,249,252,1)), color-stop(70%,rgba(246,249,252,1)), color-stop(100%,rgba(246,249,252,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(246,249,252,0) 0%,rgba(246,249,252,1) 30%,rgba(246,249,252,1) 70%,rgba(246,249,252,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(246,249,252,0) 0%,rgba(246,249,252,1) 30%,rgba(246,249,252,1) 70%,rgba(246,249,252,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(246,249,252,0) 0%,rgba(246,249,252,1) 30%,rgba(246,249,252,1) 70%,rgba(246,249,252,0) 100%);
	background: radial-gradient(ellipse at center, rgba(246,249,252,0) 0%,rgba(246,249,252,1) 30%,rgba(246,249,252,1) 70%,rgba(246,249,252,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f9fc', endColorstr='#00f6f9fc',GradientType=1 );
	padding: 20px;
	box-shadow: 0 0 20px #f6f9fc;
	margin-right: -20px;
}
figure img {
	border: 4px solid #fff;
	box-shadow: 0 0 4px lightgrey;
	margin: 5px;
}

#content li {
	background: #fcfcfc;
	margin: 10px -10px;
	padding: 10px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	border-radius: 4px;
}

#info dt:nth-child(4n), #info dt:nth-child(4n+1), #info dd:nth-child(4n+1), #info dd:nth-child(4n+2) {
   background-color: #f0f4f9;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 10px;
}

#info dt, #info dd {
	margin: 0 -10px;
	padding: 0 10px;
}
dt {
	margin-right: 5px;
	float: left;
	position: relative;
}
#info dt:before {
	font-family: 'icomoon';
	font-size: 14px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	top: 6px;
	left: -23px;
	color: #dae0e9;
}

#nomUsage:before {
	content: "\e978";
}
#sexeF:before {
	content: "\e9dd";
}
#sexeM:before {
	content: "\e9dc";
}
#dateNaissance:before {
	content: "\e99f";
}
#adresse1:before {
	content: "\e947";
}
#adresse2:before {
	content: "\e948";
}
#codePostal:before {
	content: "\e94c";
}
#ville:before {
	content: "\e601";
}
#pays:before {
	content: "\e94a";
}
#telephoneFixe:before {
	content: "\e943";
}
#telephoneMobile:before {
	content: "\e96e";
}
#mail:before {
	content: "\e945";
}

dt:after {
	padding-left: 5px;
	content: ":";
}
#info dd {
	padding-left: 160px;
	margin-left: 0;
}
h3, dd {
	font-weight: 500;
}
dd:after {
	content: ".";
	opacity: 0;
	display: -moz-inline-stack;
	display: inline-block;
}

span#nomPatronymique {
	text-transform: uppercase;
}
a.aEdit {
	font-size: 16px;
}
section > a.aEdit {
	float: right;
}

input[type="text"], input[type="text"][readonly]:hover, input[type="text"][readonly]:focus {
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px dashed #e5e5e5;
	margin-bottom: 0px;
}
input[type="text"][readonly], input[type="text"][readonly]:hover, input[type="text"][readonly]:focus {
	border-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}

input[type="text"]:hover {
	background: rgba(255, 255, 255, .8);
	-webkit-box-shadow: 0 0 2px rgba(220, 220, 220, .8), inset 0 0 2px rgba(220, 220, 220, 1);
	-moz-box-shadow: 0 0 2px rgba(220, 220, 220, .8), inset 0 0 2px rgba(220, 220, 220, 1);
	box-shadow: 0 0 2px rgba(220, 220, 220, .8), inset 0 0 2px rgba(220, 220, 220, 1);
	border: 1px solid rgb(213, 213, 213);
	margin-top: -1px;
	margin-left: -1px;
	margin-right: 9px;
	margin-bottom: 1px;
}
input[type="text"]:focus {
	background: #fff;
	-webkit-box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);
	-moz-box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);
	box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);
	border: 1px solid rgba(228, 228, 228, 1);
	margin-top: -1px;
	margin-left: -1px;
	margin-right: 9px;
	margin-bottom: 1px;
}