#content ul li {
	text-align: center;
}

#content li {
	background: #fcfcfc;
	margin: 10px -10px;
	padding: 10px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	border-radius: 4px;
}

#content li a {
	margin: 0 10px;
	text-transform: uppercase;
}

#content li a:first-child {
	text-transform: none;
}

#etudiants li {
	display: inline-block;
	background: #fcfcfc;
	margin: 8px 8px 0 0;
	padding: 5px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	border-radius: 4px;
	font-size: .95em;
}