fieldset {
	margin: 0;
	padding: 0;
}
fieldset div {
	width: 50%;
	display: inline-block;
	padding: 0 10px 5px;
	float: left;
	position: relative;
}
fieldset div:first-child {
	border-right: 1px solid rgb(242, 242, 242);
}
input[type="text"], input[type="date"] {
	position: absolute;
	left: 175px;
	right: 0;
}
input[type="checkbox"] {
	display: inline;
}
label {
	min-width: 160px;
}
fieldset:last-child label, fieldset select + label {
	min-width: 0;
	margin: 0 0 0 10px;
}
fieldset:last-child {
	padding-bottom: 0;
}
select {
	margin-top: 10px;
}

#resultat {
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

th, td {
	padding: 4px 2px;
}
th:first-child, td:first-child {
	visibility: collapse;
	width: 0;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	position: relative;
	top: 12px;
	right: 29px;
}
td input[type="checkbox"] {
	visibility: visible;
}

@media screen and (max-width: 998px) {
	fieldset div, fieldset div:first-child {
		width: auto;
		display: block;
		float: none;
		border: 0;
	}
}

@media screen and (max-width: 555px) {
	input[type="text"], input[type="date"] {
		display: block;
		position: static;
		width: 100%;
	}
	label {
		min-width: 135px;
	}
}
